<mat-card class="book-detail-card" fxLayout="column" fxLayoutGap="1rem">
  <mat-card-header>
    <div mat-card-avatar class="book-avatar">
      <span class="book-emoji" aria-hidden="true">📚</span>
    </div>
    <mat-card-title>{{ book.title }}</mat-card-title>
    <mat-card-subtitle>{{ book.authors }}</mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image [src]="book.coverUrl || 'assets/default-cover.jpg'" alt="{{ book.title }}" class="book-cover">

  <mat-card-content>
    <p class="description">{{ book.description }}</p>
    <div class="genres" *ngIf="book.genres && book.genres.length">
      <mat-chip-set>
        <mat-chip *ngFor="let genre of book.genres" color="primary" selected>
          {{ genre }}
        </mat-chip>
      </mat-chip-set>
    </div>
    <p class="created-date">
      Дата добавления: {{ book.created_at | date:'mediumDate' }}
    </p>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-raised-button color="accent" (click)="downloadPdf()">
      <mat-icon>download</mat-icon>
      Скачать PDF
    </button>

    <!-- Кнопка для избранного отображается, если есть access_token -->
    <!-- Замените *ngIf="accessToken" на *ngIf="true" для проверки -->
    <button *ngIf="true" mat-raised-button color="primary" (click)="toggleFavorite()">
     <mat-icon *ngIf="isFavorite">favorite</mat-icon>
     <mat-icon *ngIf="!isFavorite">favorite_border</mat-icon>
     <span *ngIf="isFavorite">Удалить из избранного</span>
     <span *ngIf="!isFavorite">Добавить в избранное</span>
    </button>

  </mat-card-actions>
</mat-card>
